@model IEnumerable<WebApp2.Models.Post>

@{
    @* Layout = null; *@
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Views)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Likes)

                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="post-@item.Id">
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td class="views">
                        @Html.DisplayFor(modelItem => item.Views)
                    </td>
                    <td class="likes">
                        @Html.DisplayFor(modelItem => item.Likes)
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            <button type="button" class="btn btn-outline-primary plus">+</button>
                            <button type="button" class="btn btn-outline-primary minus">-</button>
                        </div>
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>

</html>

<script>
    (async function () {
        const host = window.location.host;
        const socket = new WebSocket(`ws://${host}/ws`);
        socket.onmessage = (event) => {

            console.log(event)
        }

        socket.onmessage = (event) => {
            const {Status, Id, Value} = JSON.parse(event.data);

            console.log(event)
             if(Status == "viewed")
             { console.log("foo")
                document.getElementById('post-'+Id).getElementsByClassName("views")[0].innerText= Value;
             }
        }


    })()
</script>