@model IEnumerable<WebApplication1.ViewModels.UserListViewModel>
@using System.Linq
@using System.Threading.Tasks.Dataflow

@{
    Layout = "_AdminLayout";
}

<div>
    <h1>Users</h1>
    <p>
        <a asp-action="Create" asp-controller="User">Create New User</a>
    </p>
    <hr />
    <section class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedAt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>

                    <td>
                        Roles
                    </td>
 
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedAt)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>



                        <td>
                            @Html.DisplayFor(modelItem => string.Join(",",item.Roles.Select( r => r.Name)))
                        </td>


                        <td>
                            <td>
                                <a asp-controller="User" asp-action="Edit" asp-route-id="@item.Id">View</a> |
                                <a asp-controller="User" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
    </div>


